/*
 * Ethan Danitz
 * Web Development
 * Assignment 3
 * Last Modified: 10/2/24
 */

 h2 {
    text-align: center;
    /* EXTRA CREDIT special effect*/
    text-shadow: 2px 2px 3px #A1CDA8, 0 0 8px #A1CDA8;
}

h3 {
    text-align: center;
    /* EXTRA CREDIT special effect*/
    text-shadow: 2px 2px 3px #A1CDA8, 0 0 6px #A1CDA8;
}

h4 {
    text-align: center;
}

p {
    padding: 3px;
}

td {
    border: 1px solid #AD9BAA;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #A1CDA8;
}

tr:nth-child(odd) {
    background-color: #C5E7E2;
}

table {
    border: 3px solid green;
    background-color: beige;
    margin: 5px;
}

th {
    background-color: #B5DFCA;
}

li {
    border: 1px solid #AD9BAA;
    padding: 2px;
    padding-left: 4px;
}



.grid-container {
    display: grid;
    grid-template-columns: 40% auto;
}

.grid-top {
    grid-column: 1 / 3;
    /* EXTRA CREDIT special effect*/
    background: radial-gradient(lightgray, rgb(165, 165, 165));
}

.grid-left {
    background-color: #C5E7E2;
    padding: 8px;
}

.grid-right {
    background-color: #627264;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.top-layout {
    display: flex;
    justify-content: space-between;
}

.links-layout {
    display: flex;
    gap: 17px;
    padding: 21px; /* hard coded to be center*/
    justify-content: center;
}

.links-layout > div > a {
    text-decoration: none;
    font-family: 'Franklin Gothic Bold';
    border: 4px outset #627264;
    border-radius: 4px;
    padding: 2px;
}

.links-layout > div > a:hover {
    background-color: aquamarine;
}

.hobbies-list {
    gap: 20px;
    padding: 7px;
    padding-left: 22px;
    border: dotted 3px #AD9BAA;
    /* EXTRA CREDIT special effect*/
    background: linear-gradient(#B5DFCA, #A1CDA8);
    
}

.separator {
    width: 100%;
    height: 5px;
    background-color: #AD9BAA;
    margin: 10px 0;
}

.skills-list {
    border: 3px solid #627264;
    padding-right: 4px;
    list-style-type: square;
}

.skills-list > li {
    border: 2px solid #AD9BAA;
    margin: 5px 0;
    padding: 2px;
}


#logo {
    border-radius: 40px;
    padding: 5px;
    box-shadow: inset 5px 5px;
}

#profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}



